In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.DataFrame({'id_product' : ['s1', 's2', 's3', 's4'],
                   'demand':[120,20,30,50],
                   'name': ['t1', 't2', 't3', 't4'],
                   'brand' : ['x', 'n', 'y', 'z'],
                    'price':[200, 100 ,300 ,400 ]})
df

Matplotlib is building the font cache; this may take a moment.

  id_product  demand name brand  price
0         s1     120   t1     x    200
1         s2      20   t2     n    100
2         s3      30   t3     y    300
3         s4      50   t4     z    400

In [3]:
df.index = ['n1', 'n2', 'n3', 'n4']
df

   id_product  demand name brand  price
n1         s1     120   t1     x    200
n2         s2      20   t2     n    100
n3         s3      30   t3     y    300
n4         s4      50   t4     z    400